<div class="content">
    <button ng-click="varOrder = 'name'">Order by Name</button>
    <button ng-click="varOrder = 'belt'">Order by Belt</button>
    <input type="text" ng-model="varStringFromNgModel" placeholder="Search for a ninja" />
    <ul>
        <li ng-repeat="ninja in ninjas | filter: varStringFromNgModel | orderBy: varOrder" ng-show="ninja.available">
            <img ng-src="{{ninja.thumb}}" width="40" style="float: left; margin: -12px 10px 0 0" ng-show="ninja.thumb" />
            <h3>{{ninja.name}} - {{ninja.rate | currency : '£' : 2}}</h3>
            <div class="remove" ng-click="removeNinja(ninja)">x</div>
            <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}} belt</span>
        </li>
    </ul>

    <hr />
    <form ng-submit="addNinja()">
        <input type="text" placeholder="name" ng-model="newNinja.name" />
        <input type="text" placeholder="belt" ng-model="newNinja.belt" />
        <input type="text" placeholder="rate" ng-model="newNinja.rate" />
        <input type="submit" value="Add new ninja" />
    </form>

    <!-- end of the  NinjaControllerAsName Scope -->
</div>
